<!--Tiene acceso a las variables que reciben sus hijos (lo que extiendan de él)-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Expediente</title>
</head>
<body>
    <h2>Expediente de {{ paciente.nombre }} {{ paciente.apellidos }}</h2>
    <p><strong>CURP:</strong> {{ paciente.curp }}</p>
    <p><strong>Teléfono:</strong> {{ paciente.telefono }}</p>
    <p><strong>Tipo de sangre:</strong> {{ paciente.tipo_sangre }}</p>
    <p><strong>Alergias:</strong> {{ paciente.alergias|default:"Ninguna" }}</p>
   <!--Signos vitales--> 
    {% if ultima_nota %}
      <p><strong>Peso:</strong> {{ ultima_nota.peso|default:"--" }}</p>
      <p><strong>Estatura:</strong> {{ ultima_nota.estatura|default:"--" }}</p>
      <p><strong>IMC:</strong> {{ ultima_nota.imc|default:"--" }}</p>
      <p><strong>Presión arterial:</strong> {{ ultima_nota.presion_arterial|default:"--" }}</p>
      <p><strong>Temperatura:</strong> {{ ultima_nota.temperatura|default:"--" }}</p>
      <p><strong>Última actualización:</strong> {{ ultima_nota.fecha_hora }}</p>
    {% else %}<!--No hay else, ya que se pone -- si no hay nada -->
    {% endif %}
    <!--Boton crear nota medica-->
    <a href="{% url 'crear_nota_medica' paciente.id %}">+ Nueva Nota Médica</a>

    <ul>
        <li><a href="{% url 'expediente_notas' paciente.id %}">Notas Médicas</a></li>
        <li><a href="{% url 'expediente_medicamentos' paciente.id %}">Medicamentos</a></li>
        <li><a href="{% url 'expediente_vacunas' paciente.id %}">Vacunación</a></li>
    </ul>

    {% block content %}
    {% endblock %}
</body>
</html>
