<!--Recibe la variable form (que es la que tiene o pide todos los campos de paciente)-->
<!--'nombre': forms.TextInput(attrs={'class': 'campo-nombre'}),-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Nuevo Paciente</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}<!--Estos son los campos-->
    <button type="submit">Guardar</button>
    </form>
    <a href="{% url 'lista_pacientes' %}">Cancelar</a>   
</body>
</html>