<!--Recibe la variable medicamentos,paciente-->
{% extends 'clinica/base_expediente.html' %}

{% block content %}
<h3>Historial de Medicamentos</h3>
<ul>
    {% for med in medicamentos %}<!--Iterar sobre medicamentos-->
        <li>
            Fecha: {{med.nota_medica.fecha_hora|date:"d/m/Y H:i"}} {{ med.nombre }} - {{ med.dosis }} - {{ med.frecuencia }} - {{ med.duracion }}.
            {% if med.indicaciones %}<!--Si existen indicaciones, se muestran-->
                <br><em>Indicaciones especiales:</em> {{ med.indicaciones }}
            {% endif %}
        </li>
    {% empty %}
        <li>No hay medicamentos registrados.</li>
    {% endfor %}
</ul>
{% endblock %}
