{% extends 'clinica/base.html' %}
{% block title %}Buscador de expediente{% endblock%}

{% block content %}
<h2>Expediente Clínico</h2>
<p>Busque un paciente por nombre, CURP o teléfono para acceder a su historial médico completo.</p>

 <input type="text" id="buscador" placeholder="Buscar paciente (Ej. Juan Pérez, P-123...)">

<ul id="resultados"><!--Aqui se van mostrando los resultados-->
</ul>

<div id="no-results" style="display:none; color:red; font-weight:bold;">
    No se encontraron coincidencias.
</div>


<script>
    document.getElementById('buscador').addEventListener('keyup', function() {
        let query = this.value;
        if (query.length > 3) {  // empieza a buscar a partir de 3 caracteres
            fetch(`/expediente/buscar/?q=${query}`)
                .then(response => response.json())
                .then(data => {
                    let lista = document.getElementById('resultados');
                    let noResults = document.getElementById('no-results');
                    lista.innerHTML = '';

                    if (data.length === 0) {
                        // si no hay coincidencias, mostrar mensaje
                        noResults.style.display = 'block';
                    } else {
                        // ocultar mensaje y mostrar resultados
                        noResults.style.display = 'none';
                        data.forEach(p => {
                            let item = document.createElement('li');
                            item.innerHTML = `<a href="/expediente/${p.id}/notas/">${p.nombre} - ${p.curp}</a>`; //Lo que muestra la sugerencia
                            lista.appendChild(item);
                        });
                    }
                });
        } else {
            // si el input tiene menos de 3 caracteres, limpiar resultados y ocultar mensaje
            document.getElementById('resultados').innerHTML = '';
            document.getElementById('no-results').style.display = 'none';
        }
    });
</script>

{% endblock %} 