{% extends 'clinica/base.html' %} <!--Extiende de la base.html-->
<!--Recibe la variable pacientes,query.Ademas tiene acceso a la variable user que es el que esta logueado-->
{% block title %} Lista de pacientes {% endblock %}
{% block content %}<!--Modificable-->
    <section class="lista_pacientes">
        <div class="lista_pacientes_flex_info">
            <div class="lista_pacientes_info">
                <h2>Lista de pacientes</h2>
                <p>Administra la informacion de los pacientes</p>
            </div>

            <a href="{% url 'crear_paciente' %}"><i class="fa-solid fa-plus fa-lg"></i>Nuevo paciente</a>
        </div>

        <!--Tabla-->
       <table id="pacientes-table" class="lista_pacientes_tabla">
            <thead>
                <tr><!--Buscador (abarca 6 filas)-->
                    <th colspan="6">
                        <form method="get" onsubmit="return false;">
                            <input type="text" id="paciente-search" placeholder="Buscar pacientes...">
                        </form>
                    </th>
                </tr>
                <tr>
                    <th>Paciente</th>
                    <th>Contacto</th>
                    <th>Fecha Nac.</th>
                    <th>Tipo sangre</th>
                    <th>Alergias</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                {%for paciente in pacientes %}<!--Iterar-->
                <tr>
                    <td>
                        <span class="lista_pacientes_paciente_icono"><i class="fa-regular fa-user fa-sm" style="color: #4f39f6;"></i></span>{{ paciente.nombre }} {{ paciente.apellidos }} </td>

                    <td>{{ paciente.telefono }}</td>

                    <td>{{ paciente.fecha_nacimiento|date:"d/m/Y" }}</td>

                    <td><span class="lista_pacientes_tipo_sangre">{{ paciente.tipo_sangre }}</span></td>

                    <td>{{ paciente.alergias|default:"Ninguna" }}</td>

                    <td>
                        <div class="lista_pacientes_acciones">
                            <!--Editar-->
                            <a href="{% url 'editar_paciente' paciente.id %}"><i class="fa-regular fa-pen-to-square fa-xl" style="color: #4f39f6;"></i></a>
                            <!--Eliminar-->
                            <a href="{% url 'eliminar_paciente' paciente.id %}"><i class="fa-regular fa-trash-can fa-xl" style="color: #d50000;"></i></a>
                        </div>
                    </td>
                </tr>

                {% empty %}<!--Cuando no hay pacientes-->
                <tr>
                    <td colspan="6">No se encontraron pacientes</td><!--Abarca 6 columnas-->
                </tr>
                {% endfor %}
            </tbody>
       </table> 
    </section>
    <div id="no-results" style="display:none; color:red; font-weight:bold;">
        No se encontraron coincidencias.
    </div>
    {% endblock %}

<script>
    const searchInput = document.getElementById('paciente-search');
    const table = document.getElementById('pacientes-table');
    const rows = table.getElementsByTagName('tr');
    const noResults = document.getElementById('no-results');

    searchInput.addEventListener('keyup', function() {
        const query = this.value.toLowerCase();
        let matches = 0; // contador de coincidencias

        for (let i = 1; i < rows.length; i++) { // saltamos encabezado
            const row = rows[i];
            const text = row.textContent.toLowerCase();

            if (query === '') {//Campo vacio
                row.style.display = '';
                row.classList.remove('highlight');//Sin estilos
                matches++; // todas cuentan si está vacío
            } else if (text.includes(query)) {//Hay coincidencia
                row.style.display = '';
                row.classList.add('highlight');//agregar estilos
                matches++;
            } else {//No hay coincidencia
                row.style.display = 'none';
                row.classList.remove('highlight');
            }
        }

        // Mostrar/ocultar mensaje según coincidencias
        if (query !== '' && matches === 0) {
            noResults.style.display = 'block';
        } else {
            noResults.style.display = 'none';
        }
    });
</script>

<style>
    .highlight {
        background-color: lightblue;
    }
</style>
